div {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: solid 2px;
    position: absolute;
    left: 200px;
    top: 150px;
    animation: Ankuu 4s ease-in 0s infinite normal;
}

@keyframes Ankuu {
    0%{left: 0px;
    background-color: yellow;
}
45% {
     background-color: blueviolet;

}
90%{

    background-color: rgb(30, 210, 57);

}
    100%{left: 200px;
    background-color: red;
    color: aqua;
   
}
}

div:hover {

}
