div{
    height: 650px;
    width: 200px;
    background-color: rgb(198, 120, 209);
    border: 2px solid;
}
h1{
    height: 200px;
    width: 200px;
    background-color: rgb(222, 16, 16);
    border-radius: 50%;
}
h2{
    height: 200px;
    width: 200px;
    background-color: rgb(228, 231, 11);
    border-radius: 50%;
}
h3{
    height: 200px;
    width: 200px;
    background-color: green;
    border-radius: 50%;
}