ul{
    background-color:aquamarine;
    display: flex;
    justify-content: space-evenly;
}  
a{
text-decoration: none;
color: black;
}
li{
    list-style-type: none;
    display: inline;
    
}
.outer{
    height: 400px;
    width: 400px;
    background-color: rgb(217, 3, 217);
    display: flex;
    justify-content: center;
    align-items: center;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: rgb(211, 226, 10);
}